

.container::-webkit-scrollbar {
  width: 0;
}
.container{
  display: flex;
}

.left-side{
  height: 1000px;
  width: 20%;
  background-color: lightpink;
}

.middle-side{
  width: 2%;
  background-color: lightblue;
}

.right-side{
  flex: 1;
  background-color: lightgrey;
  width:370px;
  box-shadow: 0px 0px 35px -16px rgba(0,0,0,0.75);
  font-family: 'Roboto', sans-serif;
  padding: 20px 30px; 
  color:#363b41; /*font colour*/
  display: inline-bock;
}

.calendar-header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  
  align-items: center;
}


.header-title{
  color: black;
  font-size:30px;
  justify-self: center;
}

.header-input{
  border: 2px solid blue;
  width: 300px;
  height: 25px;
  margin: 5px;
  justify-items: center;
  
}

.header-copy {
  color: black;
  font-size:20px;
}
.calendar-plan{
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}

.calendar-events {
  position: relative;
  z-index: 1;
}


.calendar-item{
  flex: auto;
  cursor: pointer;
  background-color: lightpink;
  border-radius: 10px;
  height: 60px;
  white-space: nowrap;
  
}

.calendar-item:hover {
  background-image: linear-gradient(-222deg, #FF8494, #ffa9b7);
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}

