html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrollbars */
}

.page{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    

}

/*Right tab properties*/
.right-tab{
    width: 100%;
    min-width: 400px;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
    display: block;
}


.right-tab-header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 2%;
}

.month-year{
    width: 151px;
    height: 27px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.add-new-event-btn{
    width: 289.463px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #FB7272;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-width: 0px;
}


.calendar{
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 630px ;
}

.date-container{
    
    margin-left: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.date{
    flex-shrink: 0;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    
}

.date-num{
    
    
    color: #929292;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.date-day{
    
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.date-nib{
    width: 7px;
    height: 25px;
    border-radius: 40px;
    background: #D9D9D9;}

.day-container{
    display: grid;
    grid-template-columns: 80px repeat(5, 1fr);
    overflow: auto;
}

.time-list{
position: relative;
width: 80px;
}

.time-list-element{
    font-family: Inter;
    font-size: 17px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}



.events{
    position: relative;
    display :block;
    justify-content: center;
}

.event-item {
    position: absolute;
    left: 0;
    width: 100%;

    border-color: transparent;
    border-radius: 15px;
    
    line-height: 60px; /* Center the text vertically */
    font-size: 14px;
    background-color: #D9D9D9; /* Adjust background color */
    opacity: 0; /* Start with zero opacity */
    animation: fade-in 0.5s ease-out forwards; 
  }

  @keyframes fade-in {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

 


.event-title{
    
    margin-left: 10%;
    color: #363636;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.event-time{
    margin-left: 10%;
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



/*Left tab properties*/

.left-tab{
    min-width: 200px;
    display: block;
    background-color: #bef2fa;
    background: linear-gradient(to right, #66d4c2, #ffffff);
    z-index: 2;
}




.left-tab-top{
    min-width: 200px; 
    width: 28.571%;
    height: 100%;
    bottom: 400px;
    flex-shrink: 0;
    border-bottom-right-radius: 40px;
    background: #D9D9D9;
    position: absolute;
    transition: height 1s ease;

}



.left-tab-bottom{
    position: absolute;
    min-width: 200px;
    width: 28.571%;
    
    height: 100%;
    flex-shrink: 0;
    border-top-right-radius: 40px;
    background: #D9D9D9;
    transition: top 1s ease;
}

.left-tab-option {
    
    width: 79%;
    height: 100px;
    margin-left: 20%;
    border-width: 0px;
    flex-shrink: 0;
    border-radius: 40px;
    background-color: #ffffff;
    z-index: 2;
  }
  
  .left-tab-option-container {
    position: relative;
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    
    gap: 50px;
  }
  

.grey{
    background-color: #c8c8c8;
}

/* Style the select element */
select {
    appearance: none; /* Remove default arrow */
    padding: 4px; /* Adjust padding as needed */
    border: 0px solid #000000; /* Add a border */
    border-radius: 40px; /* Make it round */
    background-color: #ffffff; /* Background color */
    font-family: 'Inter', sans-serif; /* Apply Inter font family */
    font-size: 14px; /* Adjust font size as needed */
    outline: none; /* Remove outline on focus */
    text-align: center;
  }
  
  /* Style the dropdown arrow (you can use an arrow icon instead) */
  select::after {
    content: '\25BC'; /* Unicode character for a down arrow */
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust the position of the arrow */
    transform: translateY(-50%);
    pointer-events: none; /* Allow clicking on the select box, not the arrow */
  }
  
  /* Style the options within the dropdown */
  select option {
    font-family: 'Inter', sans-serif; /* Apply Inter font family */
    font-size: 16px; /* Adjust font size as needed */
    padding: 10px; /* Adjust padding as needed */
  }

  .toggle-delete-div{
    display: flex;
    justify-content: center;
  }

  

.toggle-delete-btn{
    
    height: 56px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #4d5259;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-width: 0px;
}
.del-active{

   
    display: flex;
    align-items: center;
    height: 56px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #793636;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-width: 0px;

    
}

.view-active{
    display: flex;
    align-items: center;
    height: 56px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #294051;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-width: 0px;
}

.undo-btn{
    
    height: 56px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #4d5259;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-width: 0px;
}