.calendar{
    
    display: block;
    
    height: 600px;
    background-color: white;
    margin: 2rem;
    gap: 10px;
    grid-template-columns: auto 1fr;
   
    
  }

 

  .days {
    display: grid;
    grid-template-columns: 50px repeat(4, 300px);
    overflow: auto;
    height: 500px;
    
  }

  .day {
    width: 200px;
    position: relative;
    border: 1px solid black;
    gap: 10px;
    gap: 10px;
    
    font-size: 15px;
    margin: 5px;
    justify-self: left;
  }

.date-container{
    
    overflow-x: auto;
    display: grid;
    grid-template-columns: 50px repeat(4, 300px);
    height: 50px;
    /* repeat(number of colunms, (minmax(minwidth, maxwidth));*/
}

  .date {
    
    padding-left: 10px;
    display: block;
    gap: 1em;
    background-color: lightsalmon;
  }

  .date-num {
    
    font-size: 3rem;
    font-weight: 600;
    display: inline;
  }
  
  .date-day {
    display: inline;
    font-size: 3rem;
    font-weight: 100;
  }

  .events {
    
    display: flex;
   
   
    border-radius: 5px;
    
    
    
 }

  .event {
   position: relative;
   background-color: lightgreen;
   margin-bottom: 10px;
   width: 200px;
   border-radius: 5px;
  
   display:flex;
   justify-content: center;
   align-items: left;
   flex-direction: column;
   
    
  }

  .title {
    font-weight: 600;
    margin-bottom: 0.25rem;
    margin-left: 10px;
    
  }

  .time{
    margin-left: 10px;
  }

 



