
.zoning-modal{
    position: absolute;
    left: 28.571% ;

    width: 400px;
    height: 100%;
    min-height: 500px;
    margin-top: 5%;
    z-index: 3;

    opacity: 0;
    

}

.filler-modal{
  position: absolute;
  left: 28.571% ;

  width: 400px;
  height: 100%;
  min-height: 500px;
  margin-top: 15%;
  z-index: 3;

  opacity: 0;
}

.task-modal{
  position: absolute;
    left: 28.571% ;

    width: 400px;
    height: 100%;
    min-height: 500px;
    margin-top: 20%;
    z-index: 3;

    opacity: 0;
}




.modal-overlay{
    
    z-index: 1;
    opacity: 0;

    position: absolute;
    width: 100%;
    height: 110%;
    padding: 0px;
    background-color:  rgba(181, 181, 181, 0.51);
    
    opacity: 0%;
}

.modal-element{
    width: 536px;
    height: 441px;
    flex-shrink: 0;
    background-color: #fff;
    display: flex;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
}


.zoning-modal-form-group{
    
    
    background: #ffffff; /* fallback for old browsers */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: #fff;

}


.fade-in-1{
  animation: fade-in .5s ease-out forwards;
}

.fade-in-1-2{
  animation: fade-in .6s ease-out forwards;
}

@keyframes fade-in {
    to {
      opacity: 1;
      
    }
  }

  .fade-out-1{
    opacity: 100%;
    animation: fade-out 0.5s ease-out forwards;
  }

  .fade-out-1-2{
    opacity: 100%;
    animation: fade-out 0.6s ease-out forwards;
  }

  @keyframes fade-out{
    100%{
      opacity: 0;
      display: none;
    }
  }

  